<div class="jumbotron">
	<div class="text-center">
		<h1>Find your Room Mate at Roomies</h1>
		<p>Short and long term rentals at bargain prices!</p>
	</div><!-- /.text-center -->
</div><!-- /.jumbotron -->

<div class="row">
	
	<div class="col-md-6 col-md-offset-3">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		</span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-12 -->

</div><!-- /.row -->

<div class="row">
	
	<div class="col-md-4">

		<h2>Find the best deals</h2>

		<p>Looking to find a house mate can be frustrating and very expensive.  But not with us! search for others who are looking to find a house mate. and avoid any nasty fees</p>
			
	</div><!-- /.col-md-4 -->

	<div class="col-md-4">
		
		<h2>Schedule a viewing</h2>

		<p>Go meet your possible Roomies to see if you could live with them, and if you think its a good match begin the whole moving in process.</p>

	</div><!-- /.col-md-4 -->


	<div class="col-md-4">
		
		<h2>Move in</h2>

		<p>Move in with your new housemates and get to know one and other, or lock your self away in your room and get on with your own thing.  The choice is yours.  </p>

	</div><!-- /.col-md-4 -->

</div><!-- /.row -->

