	<div class="panel panel-default">
			
			<div class="panel-heading">
				<%= number_to_currency(@room.price, unit: "£") %>

				<div class="pull-right">
					Per Night
				</div><!-- /.pull-right -->

				<div class="clear"></div><!-- /.clear -->

			</div><!-- /.panel-heading -->

			<div class="panel-body">
				
				<div class="row">
					
					<div class="col-md-4">
						
						<div class="input-group">

						<label for="checkIn">Check In</label>
						<input type="text" class="form-control" placeholder="dd/mm/yyyy">
						
						
						</div><!-- /input-group -->
					</div><!-- /.col-md-4 -->

					<div class="col-md-4">
						
						<div class="input-group">

						<label for="checkIn">Check Out</label>
						<input type="text" class="form-control" placeholder="dd/mm/yyyy">
						
						
						</div><!-- /input-group -->
					</div><!-- /.col-md-4 -->

					<div class="col-md-4">
						
						<div class="form-group">
						  <label for="sel1">Guests</label>
						  <select class="form-control" id="sel1">
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						    <option>4</option>
						    <option>5</option>
						    <option>6</option>
						    <option>7</option>
						    <option>8</option>
						    <option>9</option>
						    <option>10</option>
						  </select>
						</div>
					</div><!-- /.col-md-4 -->

				</div><!-- /.row -->

				<button class="btn btn-default pink-btn">Request to Book</button>
				<button class="btn btn-default wishlist-btn"><i class="fa fa-heart-o"></i>Save to wishlist</button>


				<div class="text-center">
					<div class="social">
						
						Share: <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-pinterest-p"></i>

					</div><!-- /.social -->

					<div class="report">
						
						<i class="fa fa-flag-o"></i> Report Listing

					</div><!-- /.report -->

				</div><!-- /.text-center -->

			</div><!-- /.panel-body -->

		</div><!-- /.panel panel-default -->