<nav class="navbar navbar-default">
		
		<div class="container">
		<%= link_to "Roomies", root_path, class: "navbar-brand"  %>	


		<div class="pull-right">
			<%= link_to "Sign In", "", class: "navbar-text"  %>
			<%= link_to "Sign Up", "", class: "btn btn-primary navbar-btn"  %>

		</div><!-- /.pull-right -->
		</div><!-- /.container -->

	</nav><!-- /.nav navbar navbar-default -->